/* Tomato: hsl(4, 100%, 67%)

### Neutral

- Dark Slate Grey: hsl(234, 29%, 20%)
- Charcoal Grey: hsl(235, 18%, 26%)
- Grey: hsl(231, 7%, 60%)
- White: hsl(0, 0%, 100%) */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    background: hsl(235, 18%, 26%);
    color: black;
    font-family: 'Roboto';

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-flex{
    background: #fff;
    max-height: 25rem;
    max-width: 45rem;

    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    border-radius: 1rem;
}

.container-left{
    padding: 1rem 2rem;
    height: 100%;
    width: 100%;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.title{
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 700;
}

.discription{
    font-size: 16px;
    margin-bottom: 1rem;
}
.container-left img{
    height: 15px;
    margin-right: 1rem;
}

.container-facts span{
    display: flex;

    width: 100%;
    height: 30%;
}

.container-input{
    width: 100%;
    
    
    display: flex;
    flex-direction: column;
    

}

.input-error{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.error{
    color: red;
    font-size: 12px;
    font-weight: 700;
}
.input-title{
    font-size: 12px;
    font-weight: 700;
}

input[type="email"] {

    border: 1px solid hsl(231, 7%, 60%);
    height: 2.5rem;
    border-radius: 0.3rem;
    margin-bottom: 0.5rem;

    text-align: center;
    cursor: pointer;
}

button{
    height: 2.5rem;
    border: none;
    background: hsl(235, 18%, 26%);
    color: #fff;
    font-weight: 600;
    border-radius: 0.3rem;
    cursor: pointer;
}

button:hover{
    background: hsl(4, 100%, 67%);
}


.container-thank-you{
    background: #fff;
    padding: 1rem 0rem;
    height: 20rem;
    width: 25rem;

    border-radius: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.container-thank-you img{
    height: 2.5rem;
    margin: 1rem 2rem;
}

.container-thank-you .title, .container-thank-you .discription, .container-thank-you button{
    margin-left: 2rem;
}

.container-thank-you .discription{
    font-size: 12px;
}

.container-thank-you button{
    width: 85%;
}







.container-right img{
    width: 100%;
    height: 100%;
    padding: 1rem 0rem;
}

.hidden{
    display:none;
}